html {
	box-sizing: border-box;
}
*,*::after, *::before{
	box-sizing: inherit;
}
.header_menu {
	display:block;
	border: none;
	max-height:100px;
	width: 50%;
	float: right;
	}

.menu_list {
	display: flex;
	justify-content: center;
	
}
.menu_list__item {
	width: 120px;
	word-wrap: normal;
}
.menu_list-link {
	font-size: 16px;
	line-height: 16px;
	color: #5d502b;
	text-decoration: none;
	font-family: Helvetica, sans-serif;
	display: block;
	padding: 30px 8px 30px;
	font-weight: 800;
	word-wrap: normal;
	text-align:center
}
.menu_list-link:hover {
color: maroon;
}
.slider {
	position: relative;
}
.slider_item {
	display:block;
	width:300px;
	height:400px;
	float: right;
	background-image: url("Masha.jpg");
	min-height: 300px;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	
}
.slider_item img{
	max-height: 300px;
	max-width: 70%; 
}