

/* primary #8d6e63   #be9c91   #5f4339
secondary #e0e0e0 #ffffff  #aeaeae
text on Primary #ffffff white
text on Secondary #ff8a65 orange

from Coolers.co
C9CBA3 gray sage; FFE1A8 peach; E26D5C terracota; 723D46 catawba; 472D30 old burgundy

*/

html {
	box-sizing: border-box;
	background: #8d6e63;
	background-image: url("https://www.transparenttextures.com/patterns/groovepaper.png");	
	color: white;
}
h1, h2 {
	color: #ff8a65;
	text-shadow: #f3efef 2px 2px;
}
h1 {
	font-style: italic;
	font-size: 36px;
}
*,*::after, *::before{
	box-sizing: inherit;
	font-family: 'Montserrat Alternates', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
}
.header_switch_nav {
	display: flex;
	position: relative;
	justify-content: center;
	padding: 0 15px;
	
}
.lang_switch {
	margin-top: 20px;
	margin-left: 20px;
	padding: 0;
	
	
}
select {
	color: #ff8a65;
	border-radius: 15px;
	border: #be9c91 3px solid;
	background-color: #e0e0e0;
}

.header_menu {
	margin-left: 200px;
	margin-top: 20px;
	display: flex;	
	background:  #723D46;
	border-radius: 15px;
	width:500px;
	height: 50px;
	justify-content: space-evenly;
	padding: 0 5px;
	}
.menu_list {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0;	
}
.menu_list__item {
	display: flex;
	height: 45px;
	align-items: center;
	justify-content: center;
	overflow-wrap: normal;
	padding: 10px 5px;
}
.menu_list-link {
	font-style: italic;
	font-size: 16px;
	line-height: 16px;
	color: whitesmoke;
	text-decoration: none;
	font-family: Helvetica, sans-serif;
	align-self: center;
	padding: 10px 8px;
	font-weight: 800;
	word-wrap: normal;
	text-align:center;
}
.menu_list-link:hover {
color: #aeaeae;
}

.tit_slider {
	display: flex;
	flex: 3 5;
	padding: 0;
	outline: none;
	margin: 15px 5px;
	justify-content: center;
}
.slider {
	max-width: 600px;
	align-self: center;
	}

.slider_item img {
	height: 415px;
	width: 600px;
	border-radius: 25px;
	}
.slider_item {
	position: relative;
}
.slick-arrow, .slick-arrow img, .slick-next, .slick-prev {
	max-width: 40px;
	max-height: 40px;	
	border:none;
	outline: none;
	border-radius: 50%;
	background-color: transparent;
	position: absolute;
	top: 50%;
	z-index: 5;
	padding: 0;
	cursor: pointer;
	transform: translateY(-50%);
}

.slick-next {
	right: 4em;	
}
.slick-prev {
	left: 1em;
}
.title {
	display: block;
	width: 150px;
	margin-right: 10px;
	align-self: center;
	line-height: 2em;
	left: 100px;
	}
.search {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 5px;
}
.search_window {
	color: #ff8a65;
	border-radius: 15px;
	border: beige 3px solid;
	background-color: #e0e0e0;
}
.search_window::placeholder {
	color: #ff8a65;
}
.search_form_btn {
	border: #be9c91 3px solid;
	outline: none;
	padding: 0;
	border-radius: 15px;
	background-color:#be9c91;  
	color: white;
}
.search_form_btn:hover {
	color: #fab19a;
	font-weight: 900;
	text-shadow: #aeaeae;
}
.text {
	display: block;
	width: 70%;
	margin: 0 auto;
}
#topBtn {
position: fixed;
bottom: 90px;
right: 60px;
border: #be9c91 3px solid;
padding: 0;
border-radius: 25px;
background-color: #472D30;  
color: #fff;
width: 40px;
height: 40px;
cursor: pointer;
outline: none;
}
#topBtn:hover {
	background-color: rgb(238, 234, 226);
	color: #221f1f;
	font-weight: 700;
}
#topBtn:active {
	background-color: #fff;
	color: #aeaeae;
}
.shown {
	display: block;
}
.hidden {
	display: none;
}
.foo {

	display: flex;
	max-width:100%;
	max-height:360px;
	justify-content: space-around;
	align-items: center;
	margin: 30px 80px 40px 80px;
	flex-wrap: nowrap;
}
.foo>div {
	height:220px;
	margin: 0 25px 25px 25px;
	padding-bottom: 30px;
}
.contMe {
	width: 300px;
}
.usfLinks, .scLinks {
	width: 200px;
}
.myForm {
	display: flex;
	flex-direction: column;
	background-color: #723D46;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	border: 1 px solid #aeaeae;
}
.formField {
	margin: 5px auto;
	background-color: beige;
	width: 90%;
	border-radius: 6px;
}
.formField:active {
	background-color: #C9CBA3;
}
h4 {
	font-style: italic;
	padding: 0 5px;
	font-weight: 500;
	text-shadow: #E26D5C 2px 2px;
}
#my-form-button {
	background-color: #E0E0E0;
	border-radius: 6px;
	margin-bottom: 10px;
}